# Byte-code files
__pycache__/
*.pyc
*.pyd
*.pyo

# Virtual environment
venv/
env/
.venv/

# Environment Variables
.env

# Kaggle
.kaggle/

# Editor/OS temporary files
.idea/
.vscode/
.DS_Store
Thumbs.db

# Flask specific
instance/

# the rules say not to give their data
*.csv
*.json
*.pdf
kaggle_evaluation/
training/micrograd/consolegraph.py

# other
llama.py
notes/
open_spiel/
