<!-- templates/rules.html -->
{% extends 'layout.html' %}

{% block title %}Rules{% endblock %}

{% block content %}
<h1 class="my-4">Competition Rules</h1>
<h5 class="my-2">One account per participant</h5>

<p>You cannot sign up to Kaggle from multiple accounts and therefore you cannot submit from multiple accounts.</p>
<h5 class="my-2">No private sharing outside teams</h5>

<p>Privately sharing code or data outside of teams is not permitted. It's okay to share code if made available to all participants on the forums.</p>
<h5 class="my-2">Team Mergers</h5>

<p>Team mergers are allowed and can be performed by the team leader. In order to merge, the combined team must have a total submission count less than or equal to the maximum allowed as of the merge date. The maximum allowed is the number of submissions per day multiplied by the number of days the competition has been running.</p>
<h5 class="my-2">Team Limits</h5>

<p>There is no maximum team size.</p>
<h5 class="my-2">Submission Limits</h5>

<p>You may submit a maximum of 5 entries per day.</p>

<p>You may select up to 2 final submissions for judging.</p>
<h5 class="my-2">Competition Timeline</h5>

<p>Start Date: <b>8/30/2016 1:08 AM UTC</b></p>

<p>Merger Deadline: <b>None</b></p>

<p>Entry Deadline: <b>None</b></p>

<p>End Date: <b>None</b></p>
<ul>
    <li>Due to the public nature of the data, this competition does not count towards Kaggle ranking points.</li>
    <li>We ask that you respect the spirit of the competition and do not cheat. Hand-labeling is forbidden.</li>
</ul>
{% endblock %}
